{
    "extends": [
        "eslint:recommended",
        "prettier"
    ],
    "rules": {
        "no-unused-vars": 1,
        "no-restricted-syntax": 0,
        "no-use-before-define": 0,
        "prefer-default-export": 0,
        "no-console": 1
    },
    "env": {
        "node": true
    },
    "parserOptions": {
        "ecmaVersion": 2017
    }
}